@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.5px;
}

.spinner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradientText{
    background: -webkit-linear-gradient(left, rgb(90, 115, 241), rgb(255, 112, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button{
    border : 2px solid rgb(90, 115, 241);
    border-radius: 25px;
    padding : 8px 20px;
    font-size: 1rem;
    color: white;
    background: rgb(90, 115, 241);
    /* background: -webkit-linear-gradient(45deg, rgb(90, 115, 241), rgb(255, 112, 238)); */
}

.footerText:hover{
    background: -webkit-linear-gradient(left, rgb(90, 115, 241), rgb(255, 112, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tooltip .tooltipText{
    visibility: hidden;
    background-color: #0f051d;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    padding: 10px ;
}

.tooltip:hover .tooltipText{
visibility: visible ;
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0f051d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #8a399e;
}
