*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    animation: move 0.7s linear infinite alternate;
}

@keyframes move {
    to{
        transform: translateY(-20px);
    }
}

.spinner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

